.wrapper {
    height: 612px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paginatorBlock {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.usersBlock {
    height: 612px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
