.wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.currentPage {
    font-weight: bold;
    cursor: pointer;
}

.defaultPageStyle {
    margin: 2px;
    cursor: pointer;
}

.currentPage {
    margin: 2px;
}

