.usersBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userWrapper {
    margin: 10px;
    padding: 10px;
    width: 345px;
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-template-areas: 'ava user'
                         'follow user';
    background: #fff;
    border: 1px solid #dedcdc;
    transition: all .45s ease 0s;
    box-shadow: 0 0 20px 0 rgb(44 101 144 / 10%);
    border-radius: 5px;
}

.avatarArea {
    grid-area: ava;
}

.followArea {
    grid-area: follow
}

.userArea {
    font-family: "Times New Roman", sans-serif;
    color: #353e49;
    width: 250px;
    border-radius: 10px;
    grid-area: user;
    display: grid;
    grid-template-areas: 'n n'
                         's s';
    justify-content: space-between;
}

.userAvatar {
    height: 70px;
    width: 70px;
    border-radius: 100px;
}

.followButton {
    color: white;
    width: 70px;
    height: 25px;
    border: 1px #50b5ff solid;
    border-radius: 5px;
    background-color: #50b5ff;
    letter-spacing: 1px;
}

.disabledButton {
    color: white;
    width: 70px;
    height: 25px;
    border: 1px #353e49 solid;
    border-radius: 5px;
    background-color: #6c5cd2;
    letter-spacing: 1px;
}

.userName {
    font-size: 1.3em;
    font-weight: bold;
    grid-area: n;
    padding: 5px 0px 0px 10px;
}

.userStatus {
    font-size: 1.1em;
    font-style: italic;
    grid-area: s;
    padding-left: 10px;
}