.header {
    grid-area: h;
    background: #fff;
    transition: all .45s ease 0s;
    box-shadow: 0 0 20px 0 rgb(44 101 144 / 10%);
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flexContainer {
    display: flex;
    justify-content: center ;
}

.header img {
    padding-right: 20px;
    border-radius: 100px;
    height: 60px;
    width: 70px;
}

.login {
    letter-spacing: 3px;
}

.login a {
    text-decoration: none;
    color: black;
}

.authWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout {
    height: 60px;
    width: 70px;
    cursor: pointer;
}
