.item {
    padding: 10px;
    display: grid;
    grid-template-areas:
            'avatar text'
            'likes text';
    grid-template-columns: 80px 1fr;
    grid-gap: 5px;
    width: 65%;
    background: #fff;
    transition: all .45s ease 0s;
    border: 1px solid #e7e7e7;
    box-shadow: 0 0 20px 0 rgb(44 101 144 / 10%);
    border-radius: 5px;
}

.myPostImage {
    grid-area: avatar;
}

.myPostLikes {
    grid-area: likes;

}

.myPostMessage {
    grid-area: text;

}

.myPostImage img {
    width: 50px;
    border-radius: 100px;
}