.loginForm {
    height: 350px;
    width: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input[type="email"] {
    font-family: Centaur, sans-serif;
    font-size: 1.4em;
    text-align: center;
}

input[type="password"] {
    font-family: Centaur, sans-serif;
    font-size: 1.4em;
    text-align: center;
}

::-webkit-input-placeholder {
    font-family: Centaur, sans-serif;
    text-align: center;
}

.emailLabel {
    font-size: 1.2em;
    font-weight: bold;
    width: 280px;
    display: flex;
    justify-items: left;
}
.emailInput {
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid #5b626e;
    height: 30px;
    width: 280px;
}
.passwordLabel {
    font-size: 1.2em;
    font-weight: bold;
    width: 280px;
    display: flex;
    justify-items: left;
}
.loginPassword {
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid #5b626e;
    height: 30px;
    width: 280px;
}

.rememberMeBlock {
    font-size: 1.2em;
    font-weight: bold;
}

.submitButton {
    font-family: Centaur, sans-serif;
    color: white;
    background-color: #353e49;
    width: 180px;
    height: 50px;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 2px;
    border: 1px solid #353e49;
    border-radius: 100px;
    cursor: pointer;
}

.errorStatus {
    height: 20px;
    width: 200px;
    font-size: 1.2em;
    font-weight: bold;
    color: crimson;
}

.error {
    color: crimson;
    font-size: 1.2em;
    font-weight: bold;
    width: 280px;
    display: flex;
    justify-items: left;
}

.inputError {
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid crimson;
    height: 30px;
    width: 280px;
}

.testLoginButton {
    font-family: Centaur, sans-serif;
    color: white;
    background-color: #353e49;
    width: 120px;
    height: 20px;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 2px;
    border: 1px solid #353e49;
    border-radius: 100px;
    cursor: pointer;
}
